asgiref              3.8.1
attrs                22.2.0
blinker              1.8.2
build                1.1.1
CacheControl         0.14.0
certifi              2024.2.2
charset-normalizer   3.3.2
cleo                 2.1.0
click                8.1.7
colorama             0.4.6
coverage             7.0.5
crashtest            0.4.1
distlib              0.3.8
Django               5.1
dulwich              0.21.7
fastjsonschema       2.19.1
filelock             3.13.1
Flask                2.0.2
idna                 3.6
iniconfig            2.0.0
installer            0.7.0
itsdangerous         2.2.0
jaraco.classes       3.3.1
Jinja2               3.1.4
keyring              24.3.1
MarkupSafe           2.1.5
more-itertools       10.2.0
msgpack              1.0.8
package_name         0.1
packaging            23.0
pexpect              4.9.0
pip                  24.2
pkginfo              1.10.0
platformdirs         4.2.0
pluggy               1.4.0
poetry               1.8.2
poetry-core          1.9.0
poetry-plugin-export 1.6.0
psycopg2             2.9.9
psycopg2-binary      2.9.9
ptyprocess           0.7.0
pyproject_hooks      1.0.0
pytest               8.1.1
pytest-cov           4.0.0
pywin32-ctypes       0.2.2
rapidfuzz            3.6.2
requests             2.31.0
requests-toolbelt    1.0.0
shellingham          1.5.4
sqlparse             0.5.1
tomlkit              0.12.4
trove-classifiers    2024.3.3
tzdata               2024.1
urllib3              2.2.0
virtualenv           20.25.1
Werkzeug             2.0.2
